# Python
venv/
__pycache__/
*.py[cod]
*.so
*.egg-info/
.env
*.pyc

# Database
*.db
*.sqlite
*.sqlite3

# Node
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
